.icon-rig{
  width: 100%;
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
}
/***common css***/
.sameColor{
  background-color: #0087ff!important;
}
.btnCom{
  color: #ffff!important;
  border-left: 1px solid #ffff!important;
  border-right: 1px solid #ffff!important;
}
.cardMargin{
  margin: 10px;
}
.eleMid{
  display: flex;
  align-items: center;
}
.pad-t30{
  padding-top: 30px;
}
.pad-r5{
  padding-right: 5px;
}
.pad-r10{
  padding-right: 10px;
}
.mar-r10{
  margin-right: 10px!important;
}
.mar-l10{
  margin-left: 10px!important;
}
.pad-b70{
  padding-bottom: 70px;
}
.pos-r{
  display: inline-block;
  position: relative;
}
.rg-line{
  position: absolute;
  top: 30%;
  right: 0;
  width: 1px;
  height: 40%;
  background: #000000;
}
.triangleBt{
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 5px solid #ff1243;
}